.home {
  input{
    margin-left: 170px;
    padding: 7px;
  }
  .cards {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    .card {
      margin: 30px;
    }
  }
}
